command script import /Users/tonygo/oss/LLDB/lldb_commands/dslldb.py
command script import /Users/tonygo/oss/snixpc/snif.py

command alias reload command script import /Users/tonygo/oss/.dotfiles/tonygo.py
reload
command script add --overwrite --function tonygo.gtest gtest
command script add --overwrite --function tonygo.make make
command script add --overwrite --function tonygo.stack_info stack_info

command regex rlook 's/(.+)/image lookup -rn %1/'

settings set target.process.follow-fork-mode child
settings set target.skip-prologue false
settings set target.import-std-module true
